{% extends 'blog/base.html' %}

  {% block content %}
  
  <div class="jumbotron">
    <h1 class="posttitle">{{post.title}}</h1>
    {% if post.published_date %}
      <div class="date postdate">
        {{ post.published_date|date:"h:iA M d Y" }}
      </div>
      <hr>
    {% else %}
    <div class="date postdate">
      {{ post.created_date|date:"h:iA M d Y" }}
    </div>
      <hr>
      <a class="btn btn-warning btn-block" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
      <hr>
    {% endif %}
    <div id="x2">
      <p>{{post.text|safe}}</p>
    </div>
    <br>

    {% if user.is_authenticated %}
      <a class="btn btn-info" href="{% url 'post_edit' pk=post.pk%}">
        <span class="glyphicon glyphicon-pencil"></span> Edit
      </a>

      <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk%}">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </a>
    {% endif %}
    <hr>
    <div>
      <a class="btn btn-primary btn-block" href="{% url 'add_comment_to_post' pk=post.pk %}">Add Comment</a>
    </div>

    <div class="container">
      {% for comment in post.comments.all %}
        <br>
        <ul>
          <li>
            {% if user.is_authenticated or comment.approved_comment %}
              <div id="x2">
                <p>{{comment.text|safe}}</p>
              </div>
              <div class="date">
                <p>Commented on {{ comment.created_date|date:"h:iA M d Y" }} by <span><b>{{comment.author}}</b></span></p>
              </div>

              {% if not comment.approved_comment %}

                <a class="btn btn-info" href="{% url 'comment_approve' pk=comment.pk%}">
                  <span class="glyphicon glyphicon-ok"></span> Approve
                </a>

                <a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk%}">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
              {% endif %}
          </li>
        </ul>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% endblock %}
